html { 
	background: url(images/statue.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main {
	width: 600px;
	margin: 0 auto;
}